/desktop_helper/venv/
.idea/
/other_file/
__pycache__/Neko_without_frame_command.cpython-39.pyc
/venv
__pycache__/Neko_layout.cpython-39.pyc

__pycache__/

parser/layout/qq.py

parser_Firo/layout/qq.py
